In [1]:
import pandas as pd
from pathlib import Path

In [2]:
filename = Path("baseball_project_data.csv")

In [3]:
baseball_hitting_df = pd.read_csv(filename)
baseball_hitting_df.head()

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,BIP
0,2023,30,662,28.2,4.59,3046,115238,102905,13973,25518,...,0.320,0.411,0.731,42328,2151.0,1299.0,267.0,802.0,272.0,73903
1,2022,30,790,28.2,4.28,4860,182052,163465,20817,39675,...,0.312,0.395,0.706,64546,3397.0,2046.0,390.0,1224.0,475.0,118662
2,2021,30,1373,28.4,4.53,4858,181821,161941,22010,39484,...,0.317,0.411,0.728,66521,3328.0,2112.0,766.0,1143.0,703.0,114995
3,2020,30,618,28.0,4.65,1796,66506,59030,8344,14439,...,0.322,0.418,0.740,24656,1237.0,821.0,126.0,402.0,202.0,41542
4,2019,30,1287,27.9,4.83,4858,186517,166651,23467,42039,...,0.323,0.435,0.758,72468,3463.0,1984.0,776.0,1150.0,753.0,118202

In [4]:
baseball_hitting_df.columns

Index(['Year', 'Tms', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '1B',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG',
       'OPS', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'BIP'],
      dtype='object')

In [5]:
# Renaming columns

baseball_hitting_df.rename(columns={
    'Year': 'year',
    'R/G': 'runs_per_game',
    'G': 'number_of_games',
    'R': 'runs',
    'H': 'hits',
    'HR': 'homeruns',
    'SB': 'stolen_bases',
    'CS': 'caught_stealing',
    'BB': 'walks',
    'SO':'strikeouts',
    'BA': 'batting_average',
    'OBP': 'on_base_percentage',
    'SLG': 'slugging_percentage',
    'OPS': 'on_base_plus_slugging_percentage',
    'TB': 'total_bases',
    'SH': 'sacrifice_hits',
    'BIP': 'balls_in_play',
    'Tms': 'teams'                 
                  }, inplace=True)
columns = baseball_hitting_df.columns
for column in columns:
    print (column)

year
teams
#Bat
BatAge
runs_per_game
number_of_games
PA
AB
runs
hits
1B
2B
3B
homeruns
RBI
stolen_bases
caught_stealing
walks
strikeouts
batting_average
on_base_percentage
slugging_percentage
on_base_plus_slugging_percentage
total_bases
GDP
HBP
sacrifice_hits
SF
IBB
balls_in_play

In [6]:
# Slim it down!

# Reset index to year
#baseball_hitting_df.set_index('Year', inplace=True)

# Get the years we want
cleaned_hitting_df = baseball_hitting_df.iloc[4:104]

cleaned_hitting_df

,year,teams,#Bat,BatAge,runs_per_game,number_of_games,PA,AB,runs,hits,...,on_base_percentage,slugging_percentage,on_base_plus_slugging_percentage,total_bases,GDP,HBP,sacrifice_hits,SF,IBB,balls_in_play
4,2019,30,1287,27.9,4.83,4858,186517,166651,23467,42039,...,0.323,0.435,0.758,72468,3463.0,1984.0,776.0,1150.0,753.0,118202
5,2018,30,1271,28.1,4.45,4862,185139,165432,21630,41018,...,0.318,0.409,0.728,67731,3457.0,1922.0,823.0,1235.0,929.0,119875
6,2017,30,1229,28.3,4.65,4860,185295,165567,22582,42215,...,0.324,0.426,0.750,70517,3804.0,1763.0,925.0,1168.0,970.0,120526
7,2016,30,1247,28.4,4.48,4856,184580,165561,21744,42276,...,0.322,0.417,0.739,69106,3719.0,1651.0,1025.0,1214.0,932.0,122183
8,2015,30,1252,28.4,4.25,4858,183628,165488,20647,42106,...,0.317,0.405,0.721,66953,3739.0,1602.0,1200.0,1232.0,951.0,124365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,1924,33,867,27.5,4.91,3426,131245,117531,16835,33264,...,0.343,0.388,0.732,45606,NaN,759.0,2704.0,NaN,320.0,109652
100,1923,30,800,27.7,5.02,3299,128234,113501,16559,32200,...,0.346,0.392,0.737,44444,NaN,817.0,3819.0,NaN,NaN,105124
101,1922,24,654,28.0,5.00,3037,117930,104403,15198,29892,...,0.347,0.399,0.746,41623,NaN,767.0,3695.0,NaN,NaN,96154
102,1921,24,668,27.8,4.89,3131,121172,107615,15296,30758,...,0.344,0.394,0.737,42355,NaN,830.0,3859.0,NaN,NaN,99526
103,1920,24,673,27.7,4.39,2982,114161,101172,13084,27592,...,0.333,0.365,0.697,36879,NaN,721.0,3734.0,NaN,NaN,93204

In [7]:
cleaned_hitting_df = cleaned_hitting_df[['Year','Teams','runs_per_game','number_of_games','runs','hits',
                                         'homeruns','caught_stealing','batting_average',
                                        'on_base_percentage','slugging_percentage','on_base_plus_slugging_percentage',
                                        'total_bases','sacrifice_hits','balls_in_play']]
cleaned_hitting_df

KeyError: "['Year', 'Teams'] not in index"