In [2]:
import pandas as pd
from pathlib import Path

In [3]:
filename = Path("baseball_project_data.csv")

In [4]:
baseball_hitting_df = pd.read_csv(filename)
baseball_hitting_df.head()

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,...,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,BIP
0,2023,30,662,28.2,4.59,3046,115238,102905,13973,25518,...,0.320,0.411,0.731,42328,2151.0,1299.0,267.0,802.0,272.0,73903
1,2022,30,790,28.2,4.28,4860,182052,163465,20817,39675,...,0.312,0.395,0.706,64546,3397.0,2046.0,390.0,1224.0,475.0,118662
2,2021,30,1373,28.4,4.53,4858,181821,161941,22010,39484,...,0.317,0.411,0.728,66521,3328.0,2112.0,766.0,1143.0,703.0,114995
3,2020,30,618,28.0,4.65,1796,66506,59030,8344,14439,...,0.322,0.418,0.740,24656,1237.0,821.0,126.0,402.0,202.0,41542
4,2019,30,1287,27.9,4.83,4858,186517,166651,23467,42039,...,0.323,0.435,0.758,72468,3463.0,1984.0,776.0,1150.0,753.0,118202